<html>
<head>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<title></title>
</head>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port + "/vis");
    socket.on('connect', function() {
    	console.log("here")
    	socket.on('emotions', function (data) {
    		console.log("$$$$$")
    		console.log(data)
    	})
        // socket.emit('vis', {data: 'I\'m connected!'});
    });
</script>
</body>
</html>